name: Generate Social Media Feed
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: Install Dependencies (using Poetry)
        uses: snok/install-poetry@v1
      - name: Poetry Install
        run: poetry install --no-root
      - name: Run Feed Generator
        run: |
          uv run feed.py
      - name: Run Uvicorn server in background
        run: |
          uv run main.py
          sleep 5
      # - name: Verify application is running (optional)
      #   run: |
      #     curl -f http://127.0.0.1:8000/ || exit 1
      - name: Push Repo
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Modify Feed"
          git push
          
        
        
        
